# Development

# Port
PORT=3000
BASE_URL=http://127.0.0.1:3001
BASE_URL_FE=http://localhost:5173

# Postgres Database
DB_HOST=localhost
DB_PORT=5432
DB_USER=root
DB_PASS=12345678
DB_TARGET1=paragon
  
# Cookie secret
COOKIE_SECRET=asdfjldsfjdskj

# Mail Host
MAIL_HOST=smtp.sendgrid.net
MAIL_USER=apikey
MAIL_PASSWORD=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
MAIL_FROM=pangeranjonathan2@gmail.com
